body  {
    background-image: url(https://media0.giphy.com/media/WWYSFIZo4fsLC/200.gif);
    background-repeat: initial;
    background-position: center;
    background-size: cover;
    background-color: black;
    font-style: italic;
    font-size: 30px;
}

.mydiv{
    color: lawngreen;
}

.mydiv{
    color: purple;
}