body  {
    background-image: url(https://www.bing.com/images/blob?bcid=ThEBEyhOTnQBvg);
    background-position: center;
    background-size: auto;
    background-color: black;
    font-style: italic;
    font-size: 20px;
}

.mydiv{
    color: lawngreen;
}

.mydiv{
    color: purple;
}